{# Render table of contents block #}
<nav class="table-of-contents {{ toc.type }}">
  {% if toc.title %}
    {# Format header according to TOC type #}
    {% if toc.type == "toc" %}
      <span class="toctitle"> {{ 'PLUGINS.TOC.TOC_TITLE' | t }}</span>
    {% elseif toc.type == "minitoc" %}
      <span class="toctitle">{{ 'PLUGINS.TOC.MINITOC_TITLE' | t }}</span>
    {% endif %}
  {% endif %}

  {# Get base indentation based on config settings #}
  {% set base_indent = toc.headinglevel %}
  {% for entry in toc.list if (toc.baselevel <= entry.level) and (entry.level <= toc.headinglevel) %}
    {% if entry.indent < base_indent %}
      {% set base_indent = entry.indent %}
    {% endif %}
  {% endfor %}

  <ol>
  {# Generate links #}
  {% set level = base_indent %}
  {% for entry in toc.list if (toc.baselevel <= entry.level) and (entry.level <= toc.headinglevel) %}

    {# Create list markup for headings #}
    {% if entry.indent > level %}
      {% for i in 1..(entry.indent - level) %}
      <ol>
      {% endfor %}
    {% elseif entry.indent < level %}
      {% for i in 1..(level - entry.indent) %}
      </ol>
      {% endfor %}
    {% endif %}

    {# Show TOC link based on anchorlinks option #}
    {% if toc.anchorlink %}
      {% if not loop.first and entry.indent == level %}</li>{% endif %}
      <li><a href="#{{ entry.id }}" class="toclink" title="{{ entry.text }}">{{ entry.text }}</a>
    {% else %}
      {% if not loop.first and entry.indent == level %}</li>{% endif %}
      <li><span class="toclink">{{ entry.text|truncate(32, " ") }}</span>
    {% endif %}
    {# Set current level to heading level #}
    {% set level = entry.indent %}
  {% endfor %}

  {# Add missing closing tags #}
  {% if (level - base_indent) > 0 %}
    {% for i in 1..(level - base_indent) %}
  </ol></li>
    {% endfor %}
  {% endif %}

</li>
</ol>
</nav>

